@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(to bottom, rgb(247, 193, 76), white, rgb(0, 0, 0));
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Star rating wrapper */
.star-rating {
  direction: rtl; /* Reverse direction for correct highlighting */
  font-size: 0; /* Remove space between inline-block elements */
  unicode-bidi: bidi-override; /* For correct star order */
}

/* Hide radio button */
.star-rating input[type="radio"] {
  display: none;
}

/* Star appearance */
.star-rating label {
  font-size: 2rem; /* Star size */
  color: #ccc; /* Default star color */
  cursor: pointer;
  display: inline-block;
}

/* Highlighting stars on hover */
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
  color: #f5a623; /* Highlight color */
}

.gradient-custom {
  background-color: #ffffff00;
}

.text-center {
  position: relative;
}

.carousel-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
}

.large-header {
  background: rgb(238, 158, 10);
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .large-header {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .large-header {
    font-size: 1.5rem;
  }
}

.xxi-style {
  position: relative;
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(238, 158, 10);
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .xxi-style {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .xxi-style {
    font-size: 1.2rem;
  }
}

.button-container {
  display: flex;
  gap: 10px; 
}

.button-container .btn {
  flex: 1; 
}

.movieImage {
  color: #ccc;
  text-align: center;
}

.image-card .movieImage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-card .movieImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.rating-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-stars {
  display: flex;
  margin-left: 0.5px;
}

.rating-stars svg {
  margin-right: 20px;
  margin-left: 20px;
  color: gold; /* Optional: Set the color of the stars */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  background-color: #e49132b6;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;  /* Ensures it stays on top */
  box-sizing: border-box;
}

.slide-bar {
  display: block;
  width: 100%;
}

.delete-icon {
  background-color: #ff0000; 
  border-radius: 50%; 
  padding: 5px;
  width: 24px; 
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}


.rating {
  background: #d89606;
  padding: 2px;
  margin: 1px;
}

/* Responsive design */
@media (max-width: 1024px) {
  .carousel-image {
    max-width: 100%;
  }

  .button-container {
    flex-direction: column;
  }

  .button-container .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .carousel-image {
    width: 100%;
    height: auto;
  }

  .rating-stars svg {
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  .carousel-image {
    width: 100%;
    height: auto;
  }

  .large-header,
  .xxi-style {
    font-size: 1rem;
  }

  .rating-stars svg {
    margin: 0 5px;
  }
}
